//typhography
$font-fm-barlow: 'Barlow', sans-serif;
$font-fm-barlowCondensed: 'Barlow Condensed', sans-serif;
$font-fm-bellefair: 'Bellefair', serif;

//font sizes
$font-sm: 0.875rem; //14px
$font-n: 1rem; //16px
$font-xn: 1.125rem; //18px 
$font-xxn: 1.25rem; //20px
$font-m: 1.75rem; //28px
$font-xm: 2rem; //32px
$font-xl: 9.375rem; //150px